<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    verbose="true"
    colors="true"
>
    <testsuites>
        <testsuite name="Full Test Run">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/</directory>
        </whitelist>
    </filter>
</phpunit>